apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }} 
  labels:
    app: {{ .Release.Name }}
  annotations:
    metallb.io/loadBalancerIPs: {{ .Values.service.loadBalancerIPs }}
spec:
  selector:
    app: {{ .Release.Name }} 
  ports:
  ports:
  - name: mqtt 
    port: 1883
    targetPort: 1883
  - name: ws
    port: 8083
    targetPort: 8083
  type: LoadBalancer
  externalTrafficPolicy: Local
