prometheus:
  server:
    ingress:
      enabled: true
      annotations:
        traefik.ingress.kubernetes.io/router.middlewares: default-https-redirect@kubernetescrd
      hosts:
        - prometheus.burau.dev
      tls:
        - hosts:
          - prometheus.burau.dev
          secretName: ingress-tls
    persistentVolume:
      existingClaim: prometheus
  alertmanager:
    enabled: false
  prometheus-pushgateway:
    enabled: false
