nfs:
  server: 192.168.1.5
  path: /nfs/grafana

grafana:
  ingress:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.middlewares: default-https-redirect@kubernetescrd
    hosts:
      - grafana.burau.dev
    tls:
      - hosts:
          - grafana.burau.dev
        secretName: ingress-tls
  persistence:
    enabled: true
    existingClaim: grafana

