apiVersion: apps/v1
kind: Deployment 
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  strategy:
    type: Recreate    
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          ports:
            - containerPort: 3000
            - containerPort: 80
            - containerPort: 53
            - containerPort: 53
              protocol: UDP
          resources:
            requests:
              memory: 64M
            limits:
              memory: 128M
          readinessProbe:
            tcpSocket:
              port: 80
          livenessProbe:
            tcpSocket:
              port: 80
          startupProbe:
            tcpSocket:
              port: 80
          volumeMounts:
            - name: adguard
              mountPath: /opt/adguardhome/conf
              subPath: conf
            - name: adguard
              mountPath: /opt/adguardhome/work
              subPath: work
      volumes:
      - name: adguard
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}

