apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-http
  labels:
    app: {{ .Release.Name }}
spec:
  selector:
    app: {{ .Release.Name }}
  ports:
  - name: http
    protocol: TCP
    port: 80
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-dns
  labels:
    app: {{ .Release.Name }}
  annotations:
    metallb.io/loadBalancerIPs: {{ .Values.service.loadBalancerIPs }}
spec:
  selector:
    app: {{ .Release.Name }}
  ports:
  - name: web
    protocol: TCP
    port: 3000
  - name: dns-tcp
    protocol: TCP
    port: 53
  - name: dns-udp
    protocol: UDP
    port: 53
  ipFamilyPolicy: PreferDualStack
  ipFamilies:
    - IPv6
    - IPv4
  type: LoadBalancer
  externalTrafficPolicy: Local
