nfs:
  server: 192.168.1.5
  path: /nfs/influxdb

influxdb:
  persistence:
    enabled: true
    useExisting: true
    name: influxdb
  ingress:
    enabled: true
    tls: true
    secretName: ingress-tls
    hostname: influxdb.burau.dev
    annotations:
      traefik.ingress.kubernetes.io/router.middlewares: default-https-redirect@kubernetescrd
  pdb:
    create: false
