apiVersion: v1
kind: Secret
metadata:
  name: {{ argocd_oidc_secret_name }}
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-server
    app.kubernetes.io/part-of: argocd
    app.kubernetes.io/component: authentication
type: Opaque
stringData:
  clientSecret: {{ argocd_oauth_client_secret | quote }}
