apiVersion: v1
kind: Secret
metadata:
  name: {{ gitops_repo_secret_name }}
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
    app.kubernetes.io/managed-by: {{ cluster_name }}-bootstrap
stringData:
  type: git
  url: {{ gitops_repo_url }}
  sshPrivateKey: |-
{{ lookup('ansible.builtin.file', gitops_repo_private_key_path) | indent(4, true) }}
