apiVersion: v1
kind: Secret
metadata:
  name: {{ authentik_config_secret_name }}
  namespace: authentik
  labels:
    app.kubernetes.io/name: authentik
    app.kubernetes.io/part-of: {{ cluster_name }}
type: Opaque
stringData:
  AUTHENTIK_SECRET_KEY: {{ authentik_secret_key | quote }}
  AUTHENTIK_POSTGRESQL__PASSWORD: {{ authentik_postgresql_password | quote }}
  AUTHENTIK_BOOTSTRAP_PASSWORD: {{ authentik_bootstrap_password | quote }}
