apiVersion: v1
kind: Secret
metadata:
  name: {{ authentik_postgresql_secret_name }}
  namespace: authentik
  labels:
    app.kubernetes.io/name: postgresql
    app.kubernetes.io/part-of: authentik
type: Opaque
stringData:
  postgres-password: {{ authentik_postgresql_password | quote }}
  password: {{ authentik_postgresql_password | quote }}
