apiVersion: v1
kind: Secret
metadata:
  name: {{ authentik_blueprint_secret_name }}
  namespace: authentik
  labels:
    app.kubernetes.io/name: authentik
    app.kubernetes.io/component: blueprint
type: Opaque
stringData:
  HOMELAB_GRAFANA_CLIENT_SECRET: {{ grafana_oauth_client_secret | quote }}
  HOMELAB_OLEG_PASSWORD: {{ authentik_oleg_password | quote }}
