apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ cluster_name }}-root
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  source:
    repoURL: {{ gitops_repo_url }}
    targetRevision: {{ gitops_target_revision }}
    path: {{ gitops_path }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
      - PrunePropagationPolicy=foreground
