apiVersion: v1
kind: Secret
metadata:
  name: {{ grafana_admin_secret_name }}
  namespace: monitoring
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/part-of: {{ cluster_name }}
type: Opaque
stringData:
  admin-user: admin
  admin-password: {{ grafana_admin_password | quote }}
