apiVersion: v1
kind: Secret
metadata:
  name: {{ grafana_oauth_secret_name }}
  namespace: monitoring
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/component: authentication
type: Opaque
stringData:
  client-id: {{ grafana_oauth_client_id | quote }}
  client-secret: {{ grafana_oauth_client_secret | quote }}
