write-kubeconfig-mode: "600"
node-name: "{{ cluster_name }}"
node-ip: "{{ expected_ipv4 }}"
advertise-address: "{{ expected_ipv4 }}"
tls-san:
  - "{{ expected_ipv4 }}"
  - "{{ expected_hostname }}"
cluster-cidr: "{{ k3s_cluster_cidr }}"
service-cidr: "{{ k3s_service_cidr }}"
cluster-dns: "{{ k3s_cluster_dns }}"
secrets-encryption: true
