name: Renovate
on:
  schedule:
    - cron: '0 * * * *'
  push:
    branches: [ "main" ]
  workflow_dispatch:
permissions:
  contents: read
  pull-requests: write
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: renovatebot/github-action@8cb0d4a6ab7d8bb90460a005f7bd33b80dd07ca8 # v44.2.5
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          RENOVATE_PLATFORM: github
          RENOVATE_EXTENDS: config:best-practices,customManagers:dockerfileVersions,customManagers:helmChartYamlAppVersions
          RENOVATE_AUTODISCOVER: true
          RENOVATE_AUTODISCOVER_FILTER: ${{ github.repository }}, ${{ github.repository_owner }}/rpi-*
          RENOVATE_CONFIG_MIGRATION: true
          RENOVATE_AUTOMERGE: true
          RENOVATE_BUMP_VERSION: patch
          RENOVATE_IGNORE_TESTS: true
          LOG_LEVEL: debug
#         RENOVATE_DRY_RUN: full
