name: Renovate
on:
  schedule:
    - cron: '0 * * * *'
  push:
    branches: [ "main" ]
  workflow_dispatch:
permissions:
  contents: read
  pull-requests: write
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: renovatebot/github-action@eaf12548c13069dcc28bb75c4ee4610cdbe400c5 # v44.2.6
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          RENOVATE_PLATFORM: github
          RENOVATE_EXTENDS: config:best-practices,customManagers:dockerfileVersions,customManagers:helmChartYamlAppVersions
          RENOVATE_AUTODISCOVER: true
          RENOVATE_AUTODISCOVER_FILTER: ${{ github.repository }}, ${{ github.repository_owner }}/rpi-*
          RENOVATE_CONFIG_MIGRATION: true
          RENOVATE_AUTOMERGE: true
          RENOVATE_BUMP_VERSION: patch
          RENOVATE_IGNORE_TESTS: true
          LOG_LEVEL: debug
#         RENOVATE_DRY_RUN: full
