name: Renovate
on:
  schedule:
    - cron: '0 * * * *'
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v34.83.1
        with:
          configurationFile: .github/renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
#        env:
#          LOG_LEVEL: 'debug'
