name: Renovate
on:
  schedule:
    - cron: '0 * * * *'
  push:
    branches: [ "main" ]
  workflow_dispatch:
permissions:
  contents: read
  pull-requests: write
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: renovatebot/github-action@d65ef9e20512193cc070238b49c3873a361cd50c # v46.1.1
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          RENOVATE_PLATFORM: github
          RENOVATE_EXTENDS: config:best-practices,helpers:pinGitHubActionDigests
          RENOVATE_AUTODISCOVER: true
          RENOVATE_AUTODISCOVER_FILTER: ${{ github.repository }},${{ github.repository_owner }}/rpi-*
          RENOVATE_CONFIG_MIGRATION: true
          RENOVATE_AUTOMERGE: true
          RENOVATE_BUMP_VERSION: patch
          RENOVATE_IGNORE_TESTS: true
          RENOVATE_REBASE_WHEN: never
          RENOVATE_SEMANTIC_COMMITS: "disabled"
#         LOG_LEVEL: debug
#         RENOVATE_DRY_RUN: full
